/*general*/
    body 
    {
        margin: 0;
        padding: 0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background: rgb(255, 200, 21);
    }
    .navigation 
    {
        position: sticky; 
        z-index: 200;
        width: 98.5%;
        height: 50px;
        padding: 10px;
        background:rgb(17, 17, 17);             
        color: #fff;          
    }
    .logo 
    {
        width: 25%;
        float: left;
        line-height: 40px;
        margin-left:30px;
        margin-top: -5px;
    }
    .navigation-links 
    {
        text-align: right;
        position: sticky; 
    }
    .navigation-links li 
    {
        display: inline-block;
        padding: 5px 20px;
        border-radius: 20px;
        position: sticky; 
    }
    .navigation-links li.active 
    {
        background-color: rgba(83, 173, 203, .3);
    }
    .navigation-links li:hover 
    {
        background-color: rgb(245, 201, 81);
        color: #fff;
        cursor: pointer;
    }

    .container 
    {
        margin-right:20px;
    }

    button
    {
        width:125px;
        height:40px;
        font-size:15px;
        font-weight: bold;
        color: aliceblue;
        background: #000000;
        border-radius:10px;
        cursor:pointer
    }
    button:hover
    {
	    background:lightgreen;
	    color: rgb(0, 0, 0);
    }   

    input
    {
        width:300px;
        height:30px;
        border-radius:8px;
    } 