<html>
<head>
    <style>
        body 
        {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            background: #3598dc;
        }
        .navigation 
        {
            width: 98.7%;
            height: 50px;
            padding: 10px;
            background:white;            
        }
        .logo {
            width: 20%;
            float: left;
            line-height: 40px;
            margin-left:30px;
        }
        .navigation-links {
            text-align: right;
        }
        .navigation-links li {
            display: inline-block;
            padding: 5px 20px;
            border-radius: 20px;
        }

        .navigation-links li.active {
            background-color: rgba(83, 173, 203, .3);
        }

        .navigation-links li:hover {
            background-color: rgba(83, 173, 203, 1);
            color: #fff;
            cursor: pointer;
        }

        .tr1{
            margin-top: -5px;
            width: 40%;
            margin-left: -18%;
        }

        .tr2{
            margin-top: -252px;
            width: 40%;
            margin-left: 20%;
        }

        .tr3{
            margin-top: -252px;
            width: 40%;
            margin-left: 40%;
        }

        .tr4{
            margin-top: -252px;
            width: 40%;
            margin-left: 60%;
        }

        .trending{
            height: 30%;
            opacity: 1;
        }
        

        .logo{
            height: 120%;
            margin-top: -5px;
            margin-left: 0px;
        }
        
    </style>
</head>
<body>
    <nav class="navigation">
        <div class="logo"><img  src="../.././img/logo.png"   alt="Italian Trulli" class = "logo"><p>MeAsIllustrator</p></div>
       <div class="container">
            <ul class="navigation-links">
                <li class="active"><a href="dashboard" style="text-decoration:none; color:black;">Home</a></li>
                <li><a href="showproductuser" style="text-decoration:none; color:black;">Product</a></li>
                <li><a href="profile" style="text-decoration:none; color:black;">Profile</a></li>
                <li><a href="login" style="text-decoration:none; color:black;">Login</a></li>
            </ul>
        </div>
    </nav>
<center>
    <h1>New Products</h1>
    
    <div class = "tr1">
        <img  src="../.././img/digi_solo_illustration.png" alt="Italian Trulli" class = "trending">          
        <p style="font-weight: bold;">Family Illustration</p> 
    </div>

    <div class = "tr2">
        <img  src="../.././img/digi_solo_doodle.png" alt="Italian Trulli" class = "trending">          
        <p style="font-weight: bold;">Family Illustration</p> 
    </div>    

    <h1>Trending Products</h1>

    <div class = "tr1">
        <img  src="../.././img/digi_family_illustration.png" alt="Italian Trulli" class = "trending">          
        <p style="font-weight: bold;">Family Illustration</p> 
    </div>

    <div class = "tr2">
        <img  src="../.././img/digi_solo_doodle.png" alt="Italian Trulli" class = "trending">          
        <p style="font-weight: bold;">Family Illustration</p> 
    </div>
    
    <h1>Gallery</h1>
<marquee>
    <div class = "tr1">
        <img  src="../.././img/digi_family_illustration.png" alt="Italian Trulli" class = "trending">          
        <p style="font-weight: bold;">Family Illustration</p> 
    </div>

    <div class = "tr2">
        <img  src="../.././img/digi_solo_doodle.png" alt="Italian Trulli" class = "trending">          
        <p style="font-weight: bold;">Family Illustration</p> 
    </div>

    <div class = "tr3">
        <img  src="../.././img/digi_solo_illustration.png" alt="Italian Trulli" class = "trending">          
        <p style="font-weight: bold;">Family Illustration</p> 
    </div>

    <div class = "tr4">
        <img  src="../.././img/digi_solo_doodle.png" alt="Italian Trulli" class = "trending">          
        <p style="font-weight: bold;">Family Illustration</p> 
    </div>
</marquee>
</center>
</body>
</html>